@model _20T1020670.Web.Models.OrderSearchInput

@{
    ViewBag.Title = "Tra cứu đơn hàng";
    string successMessage = ViewBag.SuccessMessage.ToString();
}

<div class="box box-primary">
    @if (!string.IsNullOrWhiteSpace(successMessage))
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Thông báo: </strong> @successMessage
        </div>
    }
    <div class="box-body">
        <!--Form đầu vào tìm kiếm-->
        <form id="formSearch" action="~/Order/Search">
            <div class="row">
                <div class="col-sm-2">
                    <select class="form-control" name="Status">
                        <option value="0">-- Trạng thái --</option>
                        <option value="1">Đơn hàng mới (chờ duyệt)</option>
                        <option value="2">Đơn hàng đã duyệt (chờ chuyển hàng)</option>
                        <option value="3">Đơn hàng đang được giao</option>
                        <option value="4">Đơn hàng đã hoàn tất thành công</option>
                        <option value="-1">Đơn hàng bị hủy</option>
                        <option value="-2">Đơn hàng bị từ chối</option>
                    </select>
                </div>
                <div class="col-sm-10 input-group">
                    <input type="hidden" name="PageSize" value="@Model.PageSize" />
                    <input type="text" name="searchValue" class="form-control" placeholder="Tìm kiếm theo tên khách hàng hoặc tên người giao hàng" value="@Model.SearchValue" autofocus>
                    <span class="input-group-btn" style="width: 11%">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat btn-info">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </span>
                </div>
            </div>
        </form>
        <div id="searchResult"></div>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#formSearch").submit(function (e) {
                e.preventDefault();
                doSearch(1);
                return;
            });
            doSearch(@Model.Page);
        })
        function doSearch(page) {
            var url = $("#formSearch").prop("action");
            var postData = $("#formSearch").serializeArray();
            postData.push({ "name": "page", "value": page });

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                error: function () {
                    alert("Your request is not valid!");
                },
                success: function (data) {
                    $("#searchResult").html(data);
                }
            });

            return;
        }
    </script>
}
