<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-home"></i> <span>Trang Chủ</span>
                </a>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Quản Lý Dữ Liệu</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Supplier"><i class="fa fa-group"></i>Nhà Cung Cấp</a></li>
                    <li><a href="~/Customer"><i class="fa fa-user"></i>Khách Hàng</a></li>
                    <li><a href="~/Shipper"><i class="fa fa-motorcycle"></i>Người Giao Hàng</a></li>
                    <li><a href="~/Employee"><i class="fa fa-vcard-o"></i>Nhân Viên</a></li>
                    <li><a href="~/Category"><i class="fa fa-shopping-bag"></i>Loại Hàng</a></li>
                    <li><a href="~/Product"><i class="fa fa-shopping-basket"></i>Mặt Hàng</a></li>

                </ul>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i> <span>Quản Lý Đơn Hàng</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Order/Create"><i class="fa fa-file-text-o"></i>Lập Đơn Hàng</a></li>
                    <li><a href="~/Order"><i class="fa fa-search-plus"></i>Xử lý Đơn Hàng</a></li>
                </ul>
            </li>
        </ul> 
</section>
    <!-- /.sidebar -->
</aside>
